<div class="login-wrapper">
  <div class="login-container">
    <div class="row">
      <div class="col-md-4">
        <div class="login-content w-50">
          <div class="auth-card">
            <div class="logo-block">
              <a
                href="javascript:void(0);"
                matTooltip="Ez-Sitebid"
                class="logo"
              >
                <img [src]="imagePaths.LOGO_ICON" alt="Ez-Sitebid" />
              </a>
            </div>
            <router-outlet />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
