<div class="wrapper">
    <mat-drawer-container class="drawer-container" autosize >
        <mat-drawer #drawer position="end" [autoFocus]="false">
            <!-- <app-estimate-settings-drawer (close)="drawer.close()"></app-estimate-settings-drawer> -->
        </mat-drawer>

        <app-header></app-header>
        <main class="main">
            <!-- <div class="overlay" (click)="removeOverlay()"></div>
            <app-sidebar></app-sidebar>
            <div class="main-content">
                <router-outlet />
            </div>
            <footer class="footer">
                <app-footer></app-footer>
            </footer> -->
            Hello from layout
        </main>

    </mat-drawer-container>
</div>